# Configuración de Base de Datos PostgreSQL
DB_NAME=pathseek
DB_USER=pathseek
DB_PASSWORD=pathseek_secure_pass_123

# Configuración de Seguridad Backend
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_ACCESS_EXPIRATION_MINUTES=15
JWT_REFRESH_EXPIRATION_DAYS=7

# Configuración de Servidor DB Remoto (Túnel SSH opcional)
DB_SSH_HOST=169.58.74.99
DB_SSH_USER=francis
DB_SSH_PASSWORD=admin123
